<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(47, 224, 255);">
    <a class="navbar-brand" href="#">Nick's Widgets</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="product" routerLinkActive="floobar">Products<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="contact" routerLinkActive="floobar">Contact</a>
        <a class="nav-item nav-link" routerLink="about" routerLinkActive="floobar">About</a>
      </div>
    </div>
  </nav>
</div>
